* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* #menu{
    width: 5vw;
    height: 100vh;
    background-color: gray;
    transition: 0.5s;
}

#menu>ul{
    opacity: 0;
}

#menu:hover, #menu>ul{
    width: 20vw;
    opacity: 1;

} */
h1 {
    margin: 30px 0;
}

#content {
    width: 50vh;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    align-items: flex-end;
}

.backgroudn_1 {
    background-image: url("https://editor-api.raspberrypi.org/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsiZGF0YSI6IjU3OTM1YTA2LWQ3NTUtNDY5Yi1hOGU5LWM1YmRmZTk4ZDIyOCIsInB1ciI6ImJsb2JfaWQifX0=--e9b3a11b35bf90c2437bb60babb21b790eb21e9d/boy.png");
    background-position: center center;
    background-size: 35%;
    background-repeat: no-repeat;
}

.backgroudn_2 {
    background-image: url("https://editor-api.raspberrypi.org/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsiZGF0YSI6Ijc5MmJkN2NjLWQwYWEtNDllNi05ZTdjLWYxNjhhMGYxYzgwMSIsInB1ciI6ImJsb2JfaWQifX0=--d1fac8c4245c0e2863ba0b7c952d8ab303cdde30/girl.png");
    background-position: center center;
    background-size: 25%;
    background-repeat: no-repeat;
}

p {
    font-size: 14px;
    padding: 4px;
    border-top: 2px black solid;
    border-right: 2px black solid;
}

.frame {
    width: 100%;
    height: 100%;
    background-color: lightyellow;
    display: flex;
    align-items: flex-end;
    border: 2px black solid;

}